<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Array and string methods</h1>
    <p id="para1">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores quidem hic similique ratione aut facere, iusto
        consectetur molestiae totam ducimus, nam dolor distinctio quo! Repudiandae totam animi molestiae maiores amet
        eius reiciendis facere architecto hic, voluptate, nesciunt velit error laborum, magni dolor fugiat explicabo
        nobis! Consectetur officia ipsum maxime culpa!
    </p>

    <p id="para2">
        
    </p>

    <P id="para3">

    </P>
    <script>

    //  array=["apple","kiwi","mango","banana","jackfruit"]
    //  array1=["strawbery","grapes","pappaya"]

    //  document.getElementById('para1').innerHTML=array.pop()

    // document.getElementById('para1').innerHTML=array.toString()
    // document.getElementById('para2').innerHTML=array[0]
    // document.getElementById('para2').innerHTML=array.length

    // document.getElementById('para1').innerHTML=array.join(" ")

    // document.getElementById('para1').innerHTML=array.push("watermelon")
    // document.getElementById('para2').innerHTML=array

    // document.getElementById('para1').innerHTML=array.shift()

    // document.getElementById('para1').innerHTML=array.unshift("draganfruit")
    // document.getElementById('para2').innerHTML=array

    // document.getElementById('para1').innerHTML=array
    // document.getElementById('para2').innerHTML=array.concat(array1)
    //  document.getElementById('para3').innerHTML=array1

    // document.getElementById('para1').innerHTML=array
    // document.getElementById('para2').innerHTML=array.splice(2,2,'cherry')
    // document.getElementById('para3').innerHTML=array

    //  document.getElementById('para1').innerHTML=array
    // document.getElementById('para2').innerHTML=array.splice(1,3)
    // document.getElementById('para3').innerHTML=array


    // document.getElementById('para1').innerHTML=array
    // document.getElementById('para2').innerHTML=array.splice(3)
    // document.getElementById('para3').innerHTML=array


// *************************************************************************
//  Greatest digit in the Number
// *************************************************************************

  array=[10,20,30,40,50]
  array1=[25,35,45,55]

  document.getElementById('para1').innerHTML=array.length

  document.getElementById('para1').innerHTMLm=Array















    </script>

</body>

</html>