<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>CALCULATOR</h1>
    <br>
    <label for="">First Number</label>
    <input type="text" id="num1">
    <br>
    <br>
    <label for="">Select Operaters</label>
    <select name="" id="operater">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
    </select>
    <br>
    <br>
    <label for="">Second Number</label>
    <input type="text" id="num2">
    <br>
    <br>
    <button type="submit" onclick="calculate()">submit</button>
    <br><br>
    <input id="result">

   <script>

     function calculate(){
       var num1 = Number(document.getElementById('num1').value)
       var num2 = Number(document.getElementById('num2').value)
       var Operater = document.getElementById('operater').value
       var result = 0

       if(Operater == '+'){
        result = num1 + num2
       }
       else if(Operater == '-'){
        result = num1 - num2
       }
       else if(Operater == '*'){
       result = num1 * num2
       }
       else if(Operater == '/'){
        result = num1 / num2
       }

    //    document.getElementById('result').innerHTML += result
    document.getElementById('result').value += result
     }
   </script>



</body>
</html>