{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- {% block header %} -->
    <title>london</title>
    <!-- {% endblock %} -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/new.js' %}">

    </script>
</head>
<body>
    <div><h1>ENGLAND</h1></div>  
    <!-- {% block content %}
    
    {% endblock %} -->
    <div class="aa">chris pett</div>
    <div class="aa">chris evens</div>
    <div class="aa">chris hendry</div>
    <div class="di">jakhgk</div>
    <input type="button" tex="sdfhj">
    <button onclick="alert(onclick)">
        button
    </button>

    <button onclick="alert('this is an alert..')">
        click hear
    </button >
  
    
</body>
</html>